<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>home</key>
    <string>/Users/Travis/Documents/RobotVR</string>
    <key>keyLook</key>
    <string>5</string>
    <key>keyPan</key>
    <string>5</string>
    <key>mouseLook</key>
    <string>6.32184</string>
    <key>orthoPan</key>
    <string>5</string>
    <key>orthoSens</key>
    <string>5</string>
    <key>zoom</key>
    <string>5</string>
  </dict>
</plist>